# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [4]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [18]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
schema = pd.read_csv(url, sep='\t')

### Step 4. See the first 10 entries

In [19]:
schema.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [20]:
#number of observations
schema.shape[0]

4622

In [21]:
#show info about the data
schema.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [22]:
print(schema.shape[1])

5

### Step 7. Print the name of all the columns.

In [24]:
print(schema.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [25]:
schema.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [26]:
schema['item_name'].value_counts().idxmax()

'Chicken Bowl'

### Step 10. For the most-ordered item, how many items were ordered?

In [29]:
schema['item_name'].value_counts().max()

726

### Step 11. What was the most ordered item in the choice_description column?

In [30]:
schema['choice_description'].value_counts().idxmax()

'[Diet Coke]'

### Step 12. How many items were orderd in total?

In [32]:
schema['quantity'].sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [33]:
schema['item_price'].dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [34]:
schema['item_price'] = schema['item_price'].apply(lambda x: float(x[1:]))

#### Step 13.c. Check the item price type

In [35]:
schema['item_price'].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [36]:
(schema['quantity'] * schema['item_price']).sum()

39237.02

### Step 15. How many orders were made in the period?

In [37]:
schema['order_id'].nunique()

1834

### Step 16. What is the average revenue amount per order?

In [41]:
revenuePerOrder = schema.groupby('order_id').apply(lambda x: (x['quantity'] * x['item_price']).sum())

C:\Users\SAFAA\AppData\Local\Temp\ipykernel_30220\65280156.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  revenuePerOrder = schema.groupby('order_id').apply(lambda x: (x['quantity'] * x['item_price']).sum())

In [40]:
revenuePerOrder.mean()

21.39423118865867

### Step 17. How many different items are sold?

In [39]:
schema['item_name'].nunique()

50